body {
    background: black;
    color: whitesmoke;
    font-family: monospace;
    font-size: 13px;

    overflow: hidden;
}




.prevent {
    user-select: none;
}




a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(223, 149, 53);
    text-decoration: none;
}

a:active {
    color: rgb(223, 149, 53);
    text-decoration: none;
}




::-moz-selection { 
    color: rgb(0, 0, 0);
    background: rgb(255, 0, 0);
  }
  
::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 0, 0);
}


@media (max-width: 800px) {
    header {
        padding: 16px 16px 0px 16px;
        margin-top: 0px;
    }
   
    body {
        padding: 0vw;
    }

    .parent-1 {
        padding: 1.2% 4% 0 4%;
    }

    .iframe {
        padding: 1.2% 4% 0 4%;
    }
        
}



