body {
    background: black;
    color: whitesmoke;
    font-family: monospace;
    font-size: 13px;
}



.prevent {
    user-select: none;
}



a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: burlywood;
    text-decoration: none;
}

a:active {
    color: burlywood;
    text-decoration: none;
}


