div {
    display: flex;
    justify-content: center;
    overflow: auto;
}

header {
    margin-bottom: 50px;
}

input {
    background-color: black;
    color: whitesmoke;
    width: 70%;
    margin-left: 12%;
    font-size: 18px;
    padding: 16px 16px; /* remove?? */
    border-radius: 5px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-bottom: 20px;
    border: 1;
}

textarea {
    background-color: black;
    color: whitesmoke;
    width: 70%;
    margin-left: 12%;
    font-size: 18px;
    padding: 16px 16px;
    border-radius: 5px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-bottom: 25px;
    border: 1;
}

button {
    background-color: black;
    color: whitesmoke;
    width: 30%;
    border-radius: 18px;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    border: 0;
}




input:focus-within {
    outline: none;
    border-color: burlywood ;
    border-width: 3px;
    border-left-width: 0px;
    border-right-width: 0px;
}

input[type="text"] {
    font-family: monospace;
}

input[type="email"] {
    font-family: monospace;
}

input[type="number"] {
    font-family: monospace;
}

textarea:focus-within {
    outline: none;
    border-color: burlywood;
    border-width: 3px;
    border-left-width: 0px;
    border-right-width: 0px;
}

button:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

::placeholder {
    font-family: monospace;
}



@media (max-width: 800px) {
    div {
        text-align: center;
    }

    input {
        width: 85vw; 
        margin-left: 5px;
        margin-right: 5px;
        font-size: 16px;
    }
    
    textarea {
        width: 85vw;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 16px;
    }

    button {
        width: 70vw;
        font-size: 20px;
    }

    header {
        padding: 16px 16px 0px 16px;
    }

    body {
        padding: 0vw;
    }
}