div {
    margin-top: 50px;
}

input {
    background-color: black;
    color: whitesmoke;
    width: 70%;
    margin-left: 12%;
    font-size: 18px;
    padding: 16px 16px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1;
    
}

textarea {
    background-color: black;
    color: whitesmoke;
    width: 70%;
    margin-left: 12%;
    font-size: 18px;
    padding: 16px 16px;
    border-radius: 5px;
    margin-bottom: 25px;
    border: 1;
}

button {
    background-color: black;
    color: whitesmoke;
    width: 30%;
    border-radius: 18px;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    border: 0;
}




input:focus-within {
    outline: none;
    border-color: burlywood ;
    border-width: 3px;
}

input[type="text"] {
    font-family: monospace;
}

input[type="email"] {
    font-family: monospace;
}

input[type="number"] {
    font-family: monospace;
}

::placeholder {
    font-family: monospace;
}

textarea:focus-within {
    outline: none;
    border-color: burlywood;
    border-width: 3px;
}

button:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}