body {
    margin: 0;
    padding: 1.2% 10% 0 10%;
}




header {
    margin-top: 15px;

    font-weight: bold;
    background: black;

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-content: center;
}

.main-menu {
    list-style-type: none;
    
    /*
    display: flex;
    flex-direction: row;
    align-content: center;
    */
}

.main-menu li {
    display: inline-block;
    margin: 0 10px 0 0;
}




.parent-1 {
    font-weight: lighter;
    padding: 5px 0 5px 0;

    display: flex;
}

.parent-1 div {
    margin-inline: auto;
}

.images-front {
    display: flex;
    justify-content: center;
}

.images-front img {
    width: 100%;
    height: auto;

    max-width: 100%;
    max-height: 100%;   
}

.iframe {
    width: 100%;
    height: auto;
    
    display: flex;
}




.content {
    display: flex;
    justify-content: space-around;
}

td {
    padding: 0 15px 0 0;   
}





@media (max-width: 650px) {
    #header-h1 {
        font-size: 15px;
    }
}

@media (min-width: 500px) {
    .parent-1 div {
        margin-inline: auto;
        width: 100%;
    }   
}

