#menu-icon {
    display: none;
    margin: auto 0;
    cursor: pointer;
}

#menu-icon div {
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    opacity: 0%;
    transform: translateX(20px);

    /*
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
    */
}

.open .bar2 {
    opacity: 95%;
}

.open .bar3 {
    opacity: 0%;
    transform: translateX(-20px);

    /*
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
    */
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.82);
    padding: 0 0 30dvw 0;
    box-sizing: border-box;
}


.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    list-style-type: none;
    margin: 0;
}


.mobile-menu li {
    background-color: rgb(0, 0, 0, 0.9);
    margin: 0 7svw 2px 7svw;
    border-radius: 2px;
}
.text-r {
    text-align: right;
}
.text-l {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    #menu-icon {
        display: flex;
    }
}